.employeeListWrapper{
    display: flex; 
     justify-content:space-between; 

}
.addEmployeeBtn{
    margin-right: 30px;
    margin-top: 5px;
}

.empTable{
    margin-top: 20px;
    margin-right: 10px;
}

.compWrapper{
    display: flex; 
    justify-content:space-between; 
    border: 1px solid darkblue;
    color: darkblue;
    background-color: #d2e2fc;
    /* background-color: #8db8fc; */
    border-radius: 5px;
    padding: 20px;
}

.compRow{
    border: 1px solid darkblue; 
    padding: 15px;

}

.reqWrapper{
    margin-top: 30px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 20px;
    margin-right: 40px;
    background-color: #def2ff;
}

.leaveReqWrapper{
  border: 2px solid #104bb0;
  margin-top: 30px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 20px;
  margin-right: 40px;
}

.reqRow{
padding: 5px;
}

.completed{
    float: right;
    font-weight: bold;
    padding: 7px;
    border: 2px solid darkblue;
    color: darkblue;
    background-color: white;
    width: 182px;
    text-align: center;
    border-radius: 5px;
    margin-top: -90px;
    font-size: 14px;

}

.declined{
    float: right;
    font-weight: bold;
    padding: 7px;
    border: 2px solid orangered;
    color: orangered;
    background-color: white;
    width: 182px;
    text-align: center;
    border-radius: 5px;
    margin-top: -90px;
    font-size: 14px;
}
.undoOrReject{
    font-size: 14px;
    float: right;
    font-weight: bold;
    padding: 7px;
    border: 2px solid orangered;
    color: white;
    background-color: orangered;
    width: 182px;
    text-align: center;
    border-radius: 5px;
    box-shadow: rg4ba(0, 0, 0, 0.28) 0px 4px 8px;
    margin-top: -40px;
    cursor:pointer;
    pointer-events: auto;
    position: relative;
    z-index: 100;
}

.undoOrReject:hover{
    background-color:#ff7657;

}

.dashboardWrapper{
    padding: 30px;
    display: flex;
    justify-content: center;
}
.dLink{
    font-size: 18px;
    font-weight: bold;
    justify-content: space-between;
    padding: 20px;
    /* border: 5px solid darkblue; */
    border-radius: 20px;
    color: darkblue;
    background-color: #e8f2ff;
    width: 182px;
    height: 100px;
    text-align: center;
    border-radius: 20px;
    -webkit-box-shadow: -5px 1px 13px 6px rgba(175,199,204,1);
    -moz-box-shadow: -5px 1px 13px 6px rgba(175,199,204,1);
    box-shadow: -5px 1px 13px 6px rgba(175,199,204,1);
    margin: 30px;
    cursor:pointer;
    pointer-events: auto;
}

.dLink:hover{
    background-color:cyan;
    color: darkblue;

}