.employeeListWrapper{
    display: flex; 
     justify-content:space-between; 

}
.addEmployeeBtn{
    margin-right: 30px;
    margin-top: 5px;
}

.empTable{
    margin-top: 20px;
    margin-right: 10px;
}
