.mainContainer {
  width: 100%;
  margin: 0 auto;
  display: flex;
  }
  
  .mainContainer label {
    text-align: left;
    display: block;
    font-size: 20px;

  }
  .mainContainer input[type=text],
  .mainContainer textarea,
  .mainContainer select {
    width: 100%;
    padding: 12px 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    box-sizing: border-box;
    display: block;
    border-radius: 5px;
  }
  .mainContainer button {
    margin-top: 20px;
    background: #f1356d;
    color: #fff;
    border: 0;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
    width: 200px;
    height: 40px;
  }
  
  form {
    background-color: white;
    padding: 20px 60px;
    border-radius: 10px;
  }
  
  form h1 {
    color: rgb(77, 1, 77);
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
  }
  
  form div {
    margin-top: 20px;
  }